
.App-link {
  color: #61dafb;
}

.navbar{
  position:fixed !important;
  margin-top: 0 !important;
  top:0 !important;
  width: 100vw;
  z-index: 999;
  height: 13vh;
  background-color: #252525;
  --bs-navbar-padding-y:0 !important;
  --bs-navbar-toggler-icon-bg:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(248,248,248)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  --bs-navbar-toggler-border-color: #f8f8f8 !important;  
}

.nav-link{
  color: #f8f8f8 !important;
}
.navbar-composants{
  margin-left: 8vw;
  font-size: 3.5vh;
  font-family: "calibri", sans-serif;
}

.nav-item{
  margin-right: 5vw;
  text-decoration: none;
}
.navbar-collapse.show{
  background-color: #252525;
}

.navbar-toggler:focus{
  border-color: #f8f8f8;
}

.burger{
  box-shadow: none !important; 
}
.nav-link:hover {
  color: #f8f8f8;
  text-decoration: none;
}

.nav-btn{
  background-color: red;
  border-radius: 5px;
  border-color: transparent;
  color: #f8f8f8;
}
.navbar-logo{
  height: 13vh;
  margin-left: 1vw;
}

.navbar-profil{
  height: 3.5vh;
}

.navbar-toggler{
  margin-right: 4vw;
}
.navbar-toggler-icon {
    background-color: #61dafb;
  }
@media screen and (max-width:992px) {
  .navbar-composants{
    margin-left: 5vw !important;
  }
  
}

.Profil{
  margin-top: 15vh;
  text-align: center;
  
}
.Profil-infos{
  text-decoration: none;
  list-style: none;
}

.form-nav-item{
  margin-right: 0;
}
.form-nav-link{
  color: var(--bs-primary) !important;
}
.footer{
  bottom: 0; 
  margin-top: 40vh;
  background-color: #252525;
}

.footer a{
  margin-right: 5vw;
  text-decoration: none;
  color: #f8f8f8 ;
}

.footer .row{
  color:#f8f8f8;
}
.list-inline{
  display: flex;
}
.footer ul{
  list-style-type: none;
}

body{
  margin: 0px;
  overflow-x: hidden;
}

.footer-items{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-family: "calibri", sans-serif;
}
.footer-copyright{
  height: 4vh;
  color: #f8f8f8;
  text-align: center;
  padding-bottom: 0.8vh;
  font-size: 2.1vh;
}

.footer-container{
  width: 100vw;
  height:14vh;
  display: block;
}
.footer-text{
  color: #f8f8f8 !important;
  font-weight: 600;
  margin-bottom: 0 !important;
}

.authentification {
  position: relative;
  padding-top: 5vh;
  padding-left: 40vw;
  padding-right: 40vw;
  padding-bottom: 20vh;
  margin-top: 13vh;
}
.fc{
  height: 80vh;
  margin-top: 20vh;
  margin-bottom: 5vh;
  /* margin-bottom: 200px; */
}

.form{
  margin-top: 150px;
}

.garages-tab {
  position: relative;
  padding-top: 15vh;
  padding-left: 40vw;
  padding-right: 40vw;
  padding-bottom: 20vh;
}