.App-header {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.navbar{
  height: 13vh;
  background-color: #252525;
  width: 100vw;
  position: fixed;
  top: 0;
  align-items: center;
  display: flex;
  text-align: center;
  vertical-align: middle;
}

.navbar-composants{
  margin-left: 20vw;
  font-size: 3.5vh;
  font-family: "calibri", sans-serif;
}

.nav-link a{
  margin-right: 5vw;
  text-decoration: none;
  color: #f8f8f8 ;
}


.navbar-logo{
  height: 13vh;
  margin-left: 1vw;
}

.footer{
  position: fixed;
  bottom: 0; 
  background-color: #252525;
}

.footer a{
  margin-right: 5vw;
  text-decoration: none;
  color: #f8f8f8 ;
}

.footer .row{
  color:#f8f8f8;
}
.list-inline{
  display: flex;
}
.footer ul{
  list-style-type: none;
}

body{
  margin: 0px;
}

.footer-items{
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-family: "calibri", sans-serif;
}
.footer-copyright{
  height: 4vh;
  color: #f8f8f8;
  text-align: center;
  padding-bottom: 0.8vh;
  font-size: 2.1vh;

}

.footer-container{
  width: 100vw;
  height:14vh;
  display: block;
}
.text-muted{
  margin: 0 !important;
}