

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  height: 13vh;
  background-color: #252525;
  width: 100vw;
  position: fixed;
  top: 0;
  align-items: center;
  display: flex;
  text-align: center;
  vertical-align: middle;
}

.navbar-composants{
  margin-left: 20vw;
  color: #f8f8f8;
}

.navbar-composant{
  margin-right: 5vw;
  text-decoration: none !important;
  color: #f8f8f8 !important;
  
}
.navbar-logo{
  height: 13vh;
}

body{
  color: aliceblue;
}